* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #263159;
}

body {
    height: 100vh;
    background-color: #495579;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.generate-button,
.toggles {
    padding: 10px 30px;
    background-color: #FFFBEB;
    box-shadow: 5px 5px #263159;
    border-style: solid;
    border-width: 1px;
    border-color: #263159;
}

.content {
    background-color: #FFFBEB;
    box-shadow: 15px 15px #263159;
    display: flex;
    flex-wrap: wrap;
    flex: none;
}

.box {
    background-color: #FFFBEB;
    border-style: solid;
    border-width: 1px;
    border-color: #e9e6d7;
    flex: 0 0 auto;
}

.toggles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

input {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #263159;
    transition: 0.2s all linear;
  
    position: relative;
    top: 3px;
  }
  
  input:checked {
    border: 4px solid #263159;
  }